gdal==2.2.3
getpass4
pandas
geopandas
timezonefinder
wheel
sentinelsat
pyproj
numpy
cdsapi
netCDF4
git+https://github.com/hectornieto/pypro4sail@master
git+https://github.com/DHI-GRAS/pyTSEB@master
git+https://github.com/alekfal/pyDMS@master
